

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    
}

.portada{
    position: relative;   
    
}
#header-row{
    width: 100%;
    background-color: white;
}
.icon{
    height: 2em;
    margin: 10px;
}
.portada img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
}
.navbar-nav{
    color: blue;
}

#titulo{    
   color: white;
   position: relative;

}
#header_img{
    width: 100%;
   
}
#presentación{
    
}